:root {
  --light-blue: #9cd5f3;
  --dark-blue: #034893;
  --mid-blue: #0097da;
}

/* Side NavBar Styling */

.side-navbar {
  background: var(--dark-blue);
  width: 248px;
  padding: 16px;
  box-sizing: content-box;
  height: 100vh;
  position: fixed;
}

.sidebar hr {
  color: white;
}

img.logo {
  filter: invert(100%);
}

.sidebar a{
    color:white;
    font-size: 1.1rem;
    text-decoration: none;
    transition: all 0.15s ease-in;
    width:100%;
    display: block;
    border-radius: 5px;
    font-weight: bold;
}

.sidebar a:not(.my-link):hover {
  color: var(--light-blue) !important;
}

.my-link {
    background-color:aliceblue;
    color: var(--dark-blue) !important;
}

/* Mobile navbar styling */

.mob-navbar{
    background-color: var(--dark-blue);
    
}
.navbar{
  transition: all 0.4s linear;

}

.mob-navbar a{
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.15s ease-in;
    color:white;

}

/* outer container styling */
@media (min-width:767px){
  .cont{
    padding-left:280px; 
    padding-right:0;
  }
  
}

/* home page styling */
h1{
  color:var(--dark-blue);
}

.home h1{
  font-size:2.5rem;
}

.grey-img{
    filter: invert(50%) grayscale(50%);
}

.slogan, .info{
  font-size:1rem;
  font-weight: bold;
  color:var(--dark-blue);
  text-align: center;
}
.bank-img{
  width:90%
}

.info-icon{
  font-size: 5.5rem;
  color:var(--dark-blue)
}

.info{
  width:80%;
  margin:0 auto;
}

@media (min-width:767px){

  .home h1{
    font-size:4.7rem;
  }
  .slogan, .info{
    font-size: 1.2rem;
  }
  .bank-img{
    width: 70%;
  }

  .info-icon{
    font-size: 8.5rem;
  }
  
  .info{
    width:60%;
    margin:0 auto;
  }


}



/* users page styling */

thead tr th{
  color:var(--dark-blue) !important
}

table a{
  color:var(--dark-blue);
  font-weight: bold;
  text-decoration: none;
  transition: all 0.15s ease-in;
}

table a:hover{
  color:var(--mid-blue)
}

.trans-btn{
  background-color: var(--dark-blue);
  color:aliceblue;
}

.trans-btn:hover{
  background-color: aliceblue;
  color:var(--dark-blue);
}